<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div style="max-width:400px;">

    <p th:unless="${recipes} and ${recipes.size()}">No recipe found for this country :(</p>

    <div class="form-group">
        <ul>
            <li th:each="recipe : ${recipes}">
                <div sec:authorize="not isAuthenticated()">
                    <label for="nameLbl">Name :</label> <span th:text="${recipe.name}" id="nameLbl">name</span> <br/>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <label for="name">Name :</label> <a th:href="@{/recipe/review/} + ${recipe.id}" id="name"><span
                        th:text="${recipe.name}">name</span></a><br/>
                </div>
                <label for="desc">Description :  </label>
                <span th:text="${recipe.description}" id="desc">description</span> <br/>
                <label for="createdBy">Created or Updated By : </label>
                <span
                    th:text="${null != recipe.createdBy ? recipe.createdBy : recipe.updatedBy}" id="createdBy">createdBy</span> <br/>
                <label for="createdOn">Created or Updated On : </label> <span
                    th:text="${null != recipe.createdOn ? recipe.createdOn : recipe.updatedOn}" id="createdOn">createdOn</span>
            </li>
        </ul>
    </div>
    <!-- TODO - Below div section would be displayed only on signed in users-->
    <div sec:authorize="isAuthenticated()" class="form-group">

        <a th:href="@{/recipe/add?countryId=} + ${countryId}" class="btn btn-lg btn-primary btn-block">Add Recipe</a>

    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>