<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="recipe : ${recipes}" class="checkbox">
        <input type="checkbox" name="recipeIds" th:value="${recipe.id}" th:id="${recipe.id}"/>
        <label th:for="${recipe.id}" th:text="${recipe.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Recipe" />
</form>

</body>
</html>