<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<main class="container-fluid">

    <div class="row justify-content-center" sec:authorize="not isAuthenticated()">
        <form method="POST" style="max-width:600px;" th:object="${user}" th:action="@{/user/signup}" class="form-signin"  >
            <div class="form-group">
                <div class="form-group">
                    <p data-th-each="err : ${#fields.allErrors()}" data-th-text="${err}" class="errorContainer">
                        Invalid input.
                    </p>
                </div>
                <div class="form-group">
                    <input class="form-control" th:field="*{firstName}" placeholder="First Name" autofocus="true"/>
                    <!--<span th:errors="*{firstName}" class="errorContainer"></span>-->
                </div>
                <div class="form-group">
                    <input class="form-control" th:field="*{lastName}" placeholder="Last Name"/>
                   <!-- <span th:errors="*{lastName}" class="errorContainer"></span>-->
                </div>
                <div class="form-group">
                    <input class="form-control" th:field="*{userName}" placeholder="User Name"/>
                    <!--<span th:errors="*{userName}" class="errorContainer"></span>-->
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" th:field="*{password}" placeholder="Password"/>
                    <!--<span th:errors="*{password}" class="errorContainer"></span>-->
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" th:field="*{confirmPassword}"
                           placeholder="Confirm Password"/>
                    <!--<span th:errors="*{confirmPassword}" class="errorContainer"></span>-->
                </div>
                <div class="form-group">
                    <input class="form-control" th:field="*{email}" placeholder="Email"/>
                    <!--<span th:errors="*{email}" class="errorContainer"></span>-->
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row justify-content-center w3-center" sec:authorize="isAuthenticated()">
        <div class="form-group">
            <p class="errorContainer">
                Session exists already, Please logout and sign up!
            </p>
        </div>
    </div>
</main>
<div th:replace="fragments :: footer"></div>
</body>
</html>