ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: white;

}

li {
    float: left;
    margin: 10;
    padding: 10;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

.content {
    max-width: 500px;
    margin: auto;
}
.countryContainer {
  margin-left: 15%;
}

.errorContainer{
  color: red;
}

.linkAlign a {
    font-size:17px;border:1px solid #cccccc;
}
.linkAlign a:link,.linkAlign a:visited {
    background-color:#ffffff;color:#000000;
}
.w3-example a:focus,.linkAlign a:focus{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.linkAlign a.w3-right,.linkAlign a.w3-left {
    background-color:#4CAF50;color:#ffffff;border-color:#4CAF50
}
