<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Knock My Kitchen</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/knockmykitchen.css}"/>

</head>
<body>
<div class="content">
    <nav th:fragment="navigation">
        <a href="/country">Home</a> |
        <a href="/user/signup">Sign Up</a> /
        <div th:if="not ${signedUser}">
            <a href="/user/signin">Log in</a>
        </div>
        <div th:if="${signedUser}">
            <label onclick="logout()">Log Out</label>
        </div>
    </nav>
</div>
<div th:fragment="footer">
    &copy; 2018
</div>

</body>


</html>