<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Knock My Kitchen</title>

    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="../javascript/script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<main class="container-fluid">

    <nav th:fragment="navigation">

        <br/>
        <h1 class="w3-clear w3-center nextprev">Knock My Kitchen</h1>
        <br/>
        <div class="w3-clear w3-center nextprev">
            <a class="w3-left w3-btn" th:href="@{/country}"><span class="w3-hide-small"> <b>Home </b></span></a>
            <a class="w3-btn w3-center" th:href="@{/user/signup}"><span
                    class="w3-hide-small"> <b> Sign Up </b></span></a>
            <a class="w3-right w3-btn" th:href="@{/user/signin}" sec:authorize="not isAuthenticated()"><span
                    class="w3-hide-small"> <b> Sign In </b> </span></a>
            <a class="w3-right w3-btn" th:href="@{/user/logout}" sec:authorize="isAuthenticated()"><span
                    class="w3-hide-small"><b>   Sign Out </b></span></a>
        </div>
        <br/>

        <h2 th:text="${title}" class="w3-clear w3-center nextprev">Default Title</h2>

        <br/>

    </nav>

</main>
<div th:fragment="footer" class="w3-center">
    &copy;
    <span th:text="${#dates.year(#dates.createNow())}"></span>

                | Logged user: <span sec:authentication="name"></span> |
            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/user/logout}">Sign Out</a>
            </span>
            <span sec:authorize="not isAuthenticated()">
                <a th:href="@{/user/signin}">Sign In</a>
            </span>


</div>

</body>


</html>