<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div>
    <img th:src="@{/images/recipe.jpg}" height="300" width="300">
    <label>Low-calorie chicken dishes</label>
</div>
<h1>Food Around The World</h1>
<ul id="horizontal-list">
    <li th:each="country : ${countries}" class="countryContainer">
        <a th:href="@{/recipe?id=} + ${country.id}">
            <label th:text="${country.name}"></label>
        </a>
    </li>
</ul>
<div th:replace="fragments :: footer"></div>

</body>
</html>